html {
    width: 100%;
    height: 100%;
    display: flex;
}

body {
    display: flex;
    margin: 0;
    width: 100%;
}

div {
    display: flex;
}

div[draggable="true"] {
    cursor: grab;
}

#visual-fp-application-container {
    display: flex;
    flex-grow: 5;
}

#reset-button {
    position: absolute;
    right: 50px;
    top: 25px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: orchid;
}

#visual-fp-sidebar {
    overflow-y: auto;
    width: 300px;
    border-right: 1px solid black;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    gap: 20px;
    padding: 10px 20px;
}

#visual-fp-sidebar h2 {
    margin-bottom: 0px;
}

#visual-fp-sidebar div.value {
    width: 85%;
}

#function-editor-container {
    flex-grow: 4;
}

#function-editor-container p,
#visual-fp-sidebar p {
    margin: 0;
}

#function-editor-container div,
#visual-fp-sidebar div.value {
    border: 1px solid black;
    border-radius: 5px;
    height: min-content;
    padding: 10px;
}

#function-editor-container div.value-definition,
#visual-fp-sidebar div.value {
    margin: auto auto;
    flex-direction: column;
}

#function-editor-container div.value-definition {
    background: repeating-linear-gradient(
        135deg,
        #fa9c9c 0%,
        #fa9c9c 5%,
        transparent 0,
        transparent 50%);
    background-size: 2em 2em;
    background-color: #ffadad;
    opacity: 1
}

#function-editor-container div.literal,
#function-editor-container div.function-editor-element.literal,
#visual-fp-sidebar div.literal {
    background:
        radial-gradient(#ffd254 15%, transparent 16%),
        linear-gradient(45deg, transparent 49%, #ffd254 49% 51%, transparent 51%),
        linear-gradient(-45deg, transparent 49%, #ffd254 49% 51%, transparent 51%);
    background-size: 1em 1em;
    background-color: #ffebba;
    opacity: 1
}

#function-editor-container div.value-definition p {
    background-color: #ffadad;
}

#function-editor-container div.value-definition > p.definition-type,
#visual-fp-sidebar div.value > p.value-type {
    align-self: end;
}

#function-editor-container div.function-editor-element {
    gap: 10px;
    align-items: baseline;
}
 
#function-editor-container div.function-editor-element.reference-value,
#visual-fp-sidebar div.prelude-reference {
    background: repeating-linear-gradient(
        45deg,
        #bbe7b1 0,
        #bbe7b1 5%,
        transparent 0,
        transparent 50%);
    background-size: 1em 1em;
    background-color: #c4ffb7;
    opacity: 1
}
 
#function-editor-container div.function-editor-element.lambda,
#visual-fp-sidebar div.prelude-lambda,
#function-editor-container div.function-editor-element.lambda .lambda-parameter {
    background:
        linear-gradient(
            45deg,
            #d0dbff 25%,
            transparent 25%),
        linear-gradient(315deg,
            #d0dbff 25%,
            transparent 25%),
        linear-gradient(45deg,
            transparent 24%,
            #c6d3ff 25%,
            #c6d3ff 45%,
            transparent 45%),
        linear-gradient(315deg,
            transparent 24%,
            #c6d3ff 25%,
            #c6d3ff 45%,
            transparent 45%);
    background-size: 2em 2em;
    background-color: #d0dbff;
    opacity: 1
}

#function-editor-container div.function-editor-element.lambda p,
#visual-fp-sidebar div.prelude-lambda p,
#function-editor-container div.function-editor-element.lambda .lambda-parameter {
    background-color: #c6d3ff;
    width: fit-content;
}

#function-editor-container div.function-editor-element.reference-value p,
#visual-fp-sidebar div.prelude-reference p {
    background-color: #c4ffb7;
    width: fit-content
}

#function-editor-container div.function-editor-element.literal-value p,
#visual-fp-sidebar div.literal-value p {
    background-color: #ffebba;
    width: fit-content
}

#function-editor-container div.function-editor-element.type-hole {
    background: radial-gradient(circle, #c9c9c9 25%, transparent 11%);
    background-size: 1.2em 1.2em;
    background-color: #dfdfdf;
    opacity: 1
}

#function-editor-container div.function-editor-element.type-hole p {
    background-color: #dfdfdf;
    width: fit-content;
}

#function-editor-container div.error-message {
    background-color: #FF8F8F;
    border: 1px solid #FF4C4C;
    position: fixed;
    margin: 50px auto 0 auto;
    left: 50%;
    gap: 20px;
}

#function-editor-container div.error-message > button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

#function-editor-container div.error-message > button:hover {
    background-color: #FFB5B5;
    border-radius: 3px;
}
